@media screen and (min-width: 601px) {

body {
  margin: 0;
  font-family: Arial;
}

.topnav {
  overflow: hidden;
  background-color: #c2dcdb;
  position: fixed;
  top: 0%;
  width : 100%;
  text-align: center;

}

.topnav a {
  display: inline;
  color: black;
  padding: 2%;
  text-decoration: none;
  font-size: 45px;
}

.topnav a:hover {
  background-color: #5a9c9a;
  color: white;
}



.topnav a.active {
  background-color: blue;
  color: white;
}

.logo {
	max-width: 7%;
	height: auto;
	
}

.profil{
	font-size: 5px;
}


}


@media screen and (max-width: 600px) {
	
}