@media screen and (min-width: 601px) {

body {
  margin: 0;
  font-family: Arial;
  background-color: #4C5760;
}

.topnav {
  overflow: hidden;
  background-color: #c2dcdb;
  position: fixed;
  top: 0%;
  width : 100%;
  text-align: center;

}

.topnav a {
  display: inline;
  color: black;
  padding: 2%;
  text-decoration: none;
  font-size: 45px;
}

.topnav a:hover {
  background-color: #5a9c9a;
  color: white;
}



.topnav a.active {
  background-color: blue;
  color: white;
}

.logo {
	max-width: 7%;
	height: auto;
	
}

.profil{
	font-size: 5px;
}


.faqglobal{
	width: 80%;
	padding: 10%;
	
}

.faq1{
	background-color: white;
}

.titrefaq1{
	background-color: white;
	width: 8%;

}

.contenufaq1_1{
	background-color: white;
}

.contenufaq1_2{
}

.contenufaq1_3{
}

.contenufaq1_4{
}

.faq2{
}

.titrefaq2{
}

.contenufaq2_1{
}

.contenufaq2_2{
}

.contenufaq2_3{
}

.contenufaq2_4{
}


.faq3{
}

.titrefaq3{
}

.contenufaq3_1{
}

.contenufaq3_2{
}

.contenufaq3_3{
}

.contenufaq3_4{
}

.faq4{
}

.titrefaq4{
}

.contenufaq4_1{
}

.contenufaq4_2{
}

.contenufaq4_3{
}

.contenufaq4_4{
}

.faq5{
}

.titrefaq5{
}

.contenufaq5_1{
}

.contenufaq5_2{
}

.contenufaq5_3{
}

.contenufaq5_4{
}


}


@media screen and (max-width: 600px) {
	
}