body{
    font-family: "LT Internet";
    background-color: #FAF6F0;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #4C5760;
}

img{
    width: 300px;
}

input,
label,
select {
    margin: 5px;

}